* {

    margin: 0;
    padding: 0;

}

/* header section style */

.background {
    background: linear-gradient(180deg, #100625 0%, rgba(3, 1, 6, 0.5) 100%), url('resources/Banner\ Image.png');
    width: 1200px;
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;







}

.header-h4 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.header-h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;


}

/* main section style */

.main-h1 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}

.main-h6 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
}

.main-h4 {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image-div1 {
    text-align: center;
    margin-top: 50px;
}

.newyear {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;

}



.image-div2 {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('resources/Vector.png'), url('resources/Vectorrr.png');
    width: 1200px;
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    background-position: center, center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;

}


.div3-h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7px;
    padding-left: 120px;

}

.div3-p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 120px;
    padding-right: 400px;
}

.button-1 {

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #FFF;
    padding-left: 140px;
    padding-top: 50px;

}



.g70 {
    width: auto;
    height: 400px;
    padding-right: 120px;
}




.schedule {
    width: 1200px;
    height: 500px;

    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}



.span1 {
    color: #F00;
}

.p1 {

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
}


.button-2-div {

    margin-top: 50px;


}

.button-2 {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 15px;
    background-color: #F00;
    border-style: none;
    border-radius: 10px;
}


.offer {
    width: 1200px;
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.soon {
    width: 400px;
}

.offer-pic {
    width: 400px;
}

.offer-24 {
    width: 400px;
}

.soon-h6 {
    color: #F00;
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;

}

.soon-h1 {
    color: #070211;
    font-family: ' Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.soon-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}


.offer-24h1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 120px;
    padding-left: 10px;
}

.offer-24h6 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    ;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 10px;
}

.offer-pic>img {
    padding: 10px;
    border-radius: 500px;
    border: 10px solid #F00;
}




























.product {

    width: 1200px;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: auto;
    margin-top: 50px;

}

.pro-h6 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.pro-h1 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
}

.pro-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.image-pro {
    display: flex;
}

.image-product {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 5px;
    padding: auto;
}

.pic {
    height: 350px;
    width: 380px;
    align-items: center;
}


.subscribe {

    background: rgba(255, 0, 0, 0.05);

    width: 1200px;
    height: 500px;

    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;

}

.sub-h1 {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 45px;
    font-weight: 800;
    padding-top: 15px;

}

.sub-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 5px 20px 5px 20px;
}

.email {
    width: 340px;
    height: 50px;
    border-radius: 50px 0 0 50px;
    border: none;
    text-align: left;
    padding-left: 20px;
}

.sub {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 150px;
    height: 50px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #FFF;


}



/* footer section style */

.footer {
    width: 983px;
    height: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: auto;
    margin-top: 70px;
    background-color: #070211;
    padding: 100px 140px;
}

.footer1 {
    display: flex;
    align-items: start;
    flex-direction: row;

}


.add>.city {
    color: #FFF;
    list-style: none;
    font-family: 'Inter', sans-serif;

}

.add {
    margin-right: 600px;

}

.contact {
    color: #FFF;
    list-style: none;

}

.footer hr {
    border: 0;
    height: 1px;
    background-color: #FFF;

}

.icon {
    display: flex;
}

.icon>div {
    margin-top: 80px;
    margin-right: 15px;
}

.footer2 {
    display: flex;
    justify-content: space-between;


}

.f2 {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.f2p {
    color: #FFF;
    margin-right: 600px;
    padding-right: 90px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.button-3 {
    background: none;
    color: #FFF;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

hr {
    display: block;
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}